<html lang="en">
    <header>
        <title>DiscoverUni Course Stats</title>
    </header>
    <body class="widget-body">
        <main>
            <div class="kis-widget"
                 data-institution="{{ uni }}"
                 data-course="{{ course }}"
                 data-kismode="{{ mode }}"
                 data-orientation="{{ orientation }}"
                 data-language="{{ language }}"></div>

            <script id='unistats-widget-script' src="/widget/embed-script/"></script>
        </main>
    </body>
</html>
